<% provide :title, t(".title") %>
<div class = "row">
  <div class = "col-md-6 col-md-offset-3">
    <div class="wrapper">
      <%= form_for :session, url: login_path, html: {class: "form-login"} do |f| %>

        <h1><%= t ".title" %></h1>

        <%= f.email_field :email, class: "form_control", placeholder: t(".email") %>

        <%= f.password_field :password, class: "form_control", placeholder: t(".pass") %>

        <%= f.label :remember_me, class: "checkbox-label" do %>
          <%= f.check_box :remember_me, class: "checkbox" %>
          <span><%= t ".remember" %></span>
        <% end %>

        <%= f.submit t(".btlogin"), class: "btn btn-lg btn-primary btn-block" %>

        <p><%= t ".sign_up" %> <%= link_to t(".link_signup"), signup_path %></p>
      <% end %>
    </div>
  </div>
</div>
