<% provide :title, t(".home") %>
<% if is_loged_in? %>
<div class="row">
  <aside class="col-md-4">
    <%= render "shared/user_info" %>
  </aside>
  <div class="col-md-8">
    <div class="search-category">
      <%= render "search_documents/form_search_category" %>
    </div>
    <h3><%= t ".document" %></h3>
    <div class="ajax-documents">
      <% if @documents.any? %>
        <ol class="documents">
          <%= render @documents %>
        </ol>
        <%= will_paginate @documents %>
      <% end %>
    </div>
  </div>
</div>
<% else %>
  <div class="row">
    <div class="search-category">
      <%= render "search_documents/form_search_category" %>
    </div>
    <h3><%= t ".document" %></h3>
    <div class="ajax-documents">
      <% if @documents.any? %>
        <ol class="documents">
          <%= render @documents %>
        </ol>
        <%= will_paginate @documents %>
      <% end %>
    </div>
  </div>
<% end %>
