<h3 class="text-center"><%= t ".title" %></h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t ".name_user" %></th>
      <th><%= t ".time" %></th>
    </tr>
  </thead>
  <tbody>
    <% if @favorites.any? %>
      <%= render partial: "user_favorite", collection: @favorites, as: :favorite %>
    <% end %>
    <%= will_paginate @favorites %>
  </tbody>
</table>
