<section class="document_info">
  <h1>
    <%= link_to @document.name_document , @document.content.url %>
  </h1>
  <%= t "documents.document.upload_by", name: @document.user.name %>
  <span class="timestamp">
    <%= t "documents.document.posted", time: time_ago_in_words(@document.created_at) %>
  </span>
  <%= link_to t(".download"), history_downloads_path(document_id: @document.id), method: :post %>
</section>

<section class="stats">
  <div class="stats">
    <%= link_to "#" do %>
      <%= t ".download_times" %>
      <strong id="download_times" class="stat text-center">
        <%= @document.history_downloads.size %>
      </strong>
    <% end %>

    <%= link_to "#" do %>
      <%= t ".Comments" %>
      <strong id="Comments" class="stat text-center">
        <%= @document.comments.size %>
      </strong>
    <% end %>

    <%= link_to favorites_path(@document) do %>
      <%= t ".favorite" %>
      <strong id="favorite" class="stat text-center">
        <%= @document.favorites.count %>
      </strong>
    <% end %>
  </div>
</section>
<%= hidden_field_tag "document-id", "#{@document.id}", {id: "document-id"} %>
