<div class="row">
  <div class="form-inline search">
    <%= label_tag "category[style]", t(".category") %>
    <%= collection_select :category, "style", @categories, :id, :style,
      {prompt: true}, {class: "form-control", id: "category"} %>
    <%= button_tag(type: "submit", class: "btn btn-primary btn-search") do %>
      <span class="glyphicon glyphicon-search"></span>
    <% end %>
  </div>
  <h3 class="text-center"><%= t ".document" %></h3>
  <div class="col-md-offset-2 ajax-documents">
    <% if @documents.any? %>
      <ol class="documents">
        <%= render @documents %>
      </ol>
      <%= will_paginate @documents %>
    <% end %>
  </div>
</div>
